<ul>
<% if @posts.any? %>
  <% @posts.each do |post| %>
  <li>
    <%= post.user.username %>
    <%= post.caption %>
    <%= post.created_at %>
    <%= link_to "view", post_path(post) %>

    <% if can? :update, post %>
    <%= link_to "edit", edit_post_path(post) %>
    <% end %>

    <% if can? :destroy, post %>
    <%= link_to "delete", post_path(post), method: :delete %>
    <% end %>
    
    <span class="likes_count"><%= post.likes.count %></span> like(s)
    <%= link_to "like", post_likes_path(post), class: 'likes-link' %>
  </li>
  <% end %>
<% else %>
  <li>No posts have been submitted yet!
<% end %>
</ul>

<% if current_user %>
<%= link_to "Submit post", new_post_path %>
<% end %>