<ul>
<% if @posts.any? %>
  <% @posts.each do |post| %>
  <li>
    <%= post.user %>
    <%= post.caption %>
    <%= post.created_at %>
    <%= link_to "view", post_path(post) %>

    <% if can? :update, post %>
    <%= link_to "edit", edit_post_path(post) %>
    <% end %>

    <% if can? :destroy, post %>
    <%= link_to "delete", post_path(post), method: :delete %>
    <% end %>

  </li>
  <% end %>
<% else %>
  <li>No posts have been submitted yet!
<% end %>
</ul>

<%= link_to "Submit post", new_post_path %>
